* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif; }

body {
  margin: 0;
  padding-top: 100vh;
  overflow-x: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.homeMain {
  width: 100vw;
  overflow-x: hidden; }

.navbar {
  overflow: hidden;
  width: 100vw;
  background: none;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1vw;
  position: fixed;
  top: 0;
  z-index: 5;
  -moz-transition: all 1s ease .2s;
  /* WebKit */
  -webkit-transition: all 1s ease .2s;
  /* Opera */
  -o-transition: all 1s ease .2s;
  /* Standard */
  transition: all .5s ease .06s; }

.logo {
  height: 100%;
  padding: 1vw;
  padding-right: 8vw;
  color: #f5f3f0;
  float: left; }

.logoLarge {
  font-size: 1.5em; }

.logoSmall {
  font-size: .75em; }

.logoLast {
  font-weight: bold;
  color: #3bc095; }

.navLinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px; }

.navLink {
  padding-top: 2vh;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #f5f3f0; }
  .navLink .activeLink {
    padding: .3em;
    border-bottom: 2px solid #3bc095; }

.mainImage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3; }

.image {
  width: 100%;
  background-image: url("../assets/images/worship.jpg");
  height: 100%;
  background-size: cover;
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom; }

.imageCoverColor {
  float: left;
  width: 100%;
  height: 100%;
  background: #002579c7; }

.imageButtons {
  width: 100vw;
  display: grid;
  grid-template-columns: 25vw 1fr 1fr 25vw;
  grid-gap: 6vw;
  left: 0;
  top: 50vh;
  z-index: 10;
  position: absolute; }
  .imageButtons .imageButton {
    padding: 1vh;
    font-size: 1.6em;
    color: #072169;
    border: 2px solid #957502;
    border-radius: .6vh;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    background: #957502;
    z-index: 10; }

.imageButton:hover {
  background: none;
  color: #957502; }

.imageButton:focus {
  outline: 0; }

.homeVerse {
  width: 40vw;
  text-align: center;
  top: 25vh;
  left: 30vw;
  position: absolute;
  z-index: 10;
  font-size: 2em;
  color: #B27D00;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 1px #4f3608; }
  .homeVerse .ref {
    font-size: .7em;
    padding: 5px; }

.homeBar {
  background: #31ab8b;
  width: 100vw;
  height: 2.5vh;
  float: left; }

.homeSchedule {
  position: absolute;
  top: 110vh;
  left: 30vw;
  padding: 8vw;
  border: 7px solid #957502;
  border-radius: .2em;
  width: 60vw;
  background: #dfdfdf;
  color: #181818;
  font-family: "Nunito", sans-serif; }

.about {
  float: left;
  width: 100vw;
  height: 10vh;
  background: #242222; }

.mainBackground {
  height: 120vh;
  float: left;
  background: white;
  width: 100vw; }

.scheduleTitle {
  font-size: 1.7em;
  text-transform: uppercase; }

.schedule li {
  padding: 1vh;
  display: block; }

.homeSection {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw 5vw;
  padding: 5vw;
  width: 100%; }

.homeTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase; }

.homeText {
  line-height: 30px; }

.fakeImage {
  border: 1px solid black;
  background: lightblue; }

.directions {
  background: lightgrey; }

.image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3; }

.footer {
  height: 5vw;
  background: linear-gradient(#e4cea9, #795b29);
  width: 100%; }

.copyright {
  text-align: center;
  padding-top: 2vw; }
  .copyright a {
    text-decoration: none; }

/*# sourceMappingURL=home.css.map */
