<!DOCTYPE html>
<html>
<head>
	<title>Gospel of Grace Church</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">

	<link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Montserrat:300,400,600|Nunito:300,400,700|Oxygen:300,700" rel="stylesheet">

	
</head>
<body>
	<div class = "homeMain">
		<div class = "header">
			<div class = "navbar">
				<div class = "logo">
					<span class = "logoLarge">Gospel</span>
					<span class = "logoSmall">of</span>
					<span class = "logoLarge">Grace</span>
					<span class = "logoLarge logoLast">Church</span>
				</div>
				<div class = "navLinks">
					<div class = "navLink"><a href="#">Home</a></div>
					<div class = "navLink"><a href="#">About Us</a></div>
					<div class = "navLink"><a href="#">Sermons</a></div>
					<div class = "navLink"><a href="#">FAQ</a></div>
					<div class = "navLink"><a href="#">contact</a></div>
				</div>
			</div>
			
		</div>
		<div class = "body"></div>
		<div class = "footer"></div>
	</div>


<script type="text/javascript" src = "../scripts/home.js"></script>
</body>
</html>
