<!DOCTYPE html>
<html>
<head>
	<title>Gospel of Grace Church</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">

	<link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Montserrat:300,400,600|Nunito:300,400,700|Oxygen:300,700" rel="stylesheet">

	
</head>
<body>
	<div class = "homeMain">
		<div class = "header">
			<div class = "navbar">
				<div class = "logo">
					<span class = "logoLarge">Gospel</span>
					<span class = "logoSmall">of</span>
					<span class = "logoLarge">Grace</span>
					<span class = "logoLarge logoLast">Church</span>
				</div>
				<div class = "navLinks">
					<a class = "navLink" href="#">Home</a>
					<a class = "navLink" href="#">About Us</a>
					<a class = "navLink" href="#">Sermons</a>
					<a class = "navLink" href="#">FAQ</a>
					<a class = "navLink" href="#">contact</a>
				</div>
			</div>		
		</div>
		<div class = "body">
			<div class = "mainImage">
				<div class = "imageButtons">
					<div></div>
					<div class = "imageButton imageAbout">About Us</div>
					<div class = "imageButton imageDirections">Get Directions</div>
				</div>
				<div class = "imageCoverColor"></div>
				<div class = "image"></div>
				
			</div>	
			<div class = "homeSchedule">
				<div class = "scheduleTitle">Join Us Sunday Morning</div>
				<ul class = "schedule">
					<li><span class = "scheduleTime">10:30 - 11:00:</span><span class = "scheduleDescription"> Coffee and Fellowship</span></li>
					<li><span class = "scheduleTime">11:00 - 11:45:</span><span class = "scheduleDescription"> Sunday School Classes</span></li>
					<li><span class = "scheduleTime">11:45 - 12:15:</span><span class = "scheduleDescription"> Prepare for Worship</span></li>
					<li><span class = "scheduleTime">12:15 - 1:30:</span><span class = "scheduleDescription"> Worship</span></li>
				</ul>
			</div>
			<div class = "homeSection aboutUs ">
				<div class = "homeTitle right">About Us</div>
				<div class = "homeText  right">
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
				</div>
				<div class = "image fakeImage"></div>
			</div>
			<div class = "homeSection directions">
				<div class = "homeTitle left">Get here</div>
				<div class = "homeText homeLeft left">
					<div>600 S. Jefferson</div> 
					<div>Springfield MO 65806</div> 
				</div>
				<div class = "map fakeImage"></div>
				
			</div>
		</div>

		<div class = "footer">
			<div class = "copyright">copyright &copy; Gospel Of Grace Church 2018 <a href="#"> Contact</a></div>
		</div>
	</div>


<script type="text/javascript" src = "../scripts/home.js"></script>
</body>
</html>
