<!DOCTYPE html>
<html>
<head>
	<title>Gospel of Grace Church</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">

	<link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Montserrat:300,400,600|Nunito:300,400,700|Oxygen:300,700" rel="stylesheet">

<!-- jQuery -->
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous">
	</script>
</head>
<body>
	<div class = "homeMain">
		<div class = "header">
			<div class = "navbar">
				<div class = "logo">
					<span class = "logoLarge">Gospel</span>
					<span class = "logoSmall">of</span>
					<span class = "logoLarge">Grace</span>
					<span class = "logoLarge logoLast">Church</span>
				</div>
				<div class = "navLinks">
					<a class = "navLink" href="#"><span class = "activeLink navLinkSpan">Home</span></a>
					<a class = "navLink" href="#"><span class = "navLinkSpan">About Us</span></a>
					<a class = "navLink" href="#"><span class = "navLinkSpan">Sermons</span></a>
					<a class = "navLink" href="#"><span class = "navLinkSpan">FAQ</span></a>
					<a class = "navLink" href="#"><span class = "navLinkSpan">contact</span></a>
				</div>
			</div>		
		</div>

			<div class = "mainImage">
				<div class = "homeVerse">On this rock I will build my church, and the gates of hell shall not 		prevail against it.
					<div class = "ref"> ~ Matthew 16:18 ~ </div>
				</div>
				
				<!-- If God is for us, who can be against us? -->

				
				<div class = "imageCoverColor"></div>
				<div class = "image"></div>
				<div class = "imageButtons">
					<div></div>
					<button class = "imageButton imageAbout">About Us</button>
					<button class = "imageButton imageDirections">Get Directions</button>
					<div></div>
				</div>
				
			</div>	

			<div class = "homeBar"></div>

		<div class = "mainBackground">
			<div class = "homeSchedule">
				<div class = "scheduleTitle">Join Us Sunday Morning</div>
				<ul class = "schedule">
					<li><span class = "scheduleTime">10:30 - 11:00:</span><span class = "scheduleDescription"> Coffee and Fellowship</span></li>
					<li><span class = "scheduleTime">11:00 - 11:45:</span><span class = "scheduleDescription"> Sunday School Classes</span></li>
					<li><span class = "scheduleTime">11:45 - 12:15:</span><span class = "scheduleDescription"> Prepare for Worship</span></li>
					<li><span class = "scheduleTime">12:15 - 1:30:</span><span class = "scheduleDescription"> Worship</span></li>
				</ul>
			</div>
		</div>

			<div class = "about"></div>

			
			
		


		
	</div>


<script type="text/javascript" src = "../scripts/home.js"></script>
</body>
</html>
